html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 3px 5px 3px 5px;
    background-color: #191919;
    color: white;
}

/* APP */

.app {
    text-align: center;
}

/* HEADER */

.header {
    margin-top: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 23px;
    height: 95px;
    text-align: center;

}

.header h1 {
    margin: 0;
}

.countdown {
    font-size: 2rem;
    font-weight: bold;
    color: crimson;
}

/* MRIZKA */

.grid_assigned,
.grid_player,
.grid_result {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    gap: 5px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin-top: 0;
}

.row {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 5px;
}

.grid_assigned_field,
.grid_player_field,
.grid_result_field {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 65px;
    text-align: center;
    background-color: white;
    padding-top: 5px;
}

/* BUTTONS */

.button,
.reset {
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.result_button {
    text-align: center;
    padding: 0;
    margin-top: 3px;
}

.btn {
    text-align: center;
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    padding: 6px 15px;
    margin-top: 10px;
    margin-right: 15%;
    margin-left: 15%;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

.btn:hover {
    background-color: #eb675e;
}

.btn:active {
    position: relative;
    top: 1px;
}

.result_btn {
    text-align: center;
    margin-top: 3px;
    box-shadow: inset 0px 1px 0px 0px #dcecfb;
    background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color: #bddbfa;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.result_btn:hover {
    background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    background-color: #80b5ea;
}

.result_btn:active {
    position: relative;
    top: 1px;
}

.reset_btn {
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.reset_btn:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color: #ccc2a6;
}

.reset_btn:active {
    position: relative;
    top: 1px;
}


/* INPUTS */

.activeField {
    background-color: lightgrey;
}

.green {
    background-color: #D9F8C4;
}

.gray {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.red {
    background-color: crimson;
}




/* KEYBOARD */

.keyboard {
    text-align: center;
    padding: 10px 5% 0 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    gap: 2px;
}

.keyboard button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    cursor: pointer;
    color: #777777;
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    padding: 6px 6px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-bottom: 4px;
    flex-basis: calc(20% - 2px);
}

.keyboard button:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
}

.keyboard button:active {
    position: relative;
    top: 1px;
}


/* VYSLEDEK */

.rotate {
    transition: transform 0.25s;
}

.verdict {
    font-weight: bold;
}

.correct {
    font-style: italic;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}


/* SKRYVANI */

.hidden {
    display: none;
}

/* MEDIA QUERIES */

@media (min-width: 700px) {

    .keyboard {
        margin: 0 10% auto 10%;
    }


    .header {
        height: 120px;

        font-size: 28px;
    }

    .verdict, .correct {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {

    .keyboard {
        margin: 0 20% auto 20%;
    }
}