html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 3px 5px 3px 5px;
    background-color: #191919;
    color: white;
}

/* APP */

.app {
    text-align: center;
}

/* HOME SCREEN */

.home_screen {
    text-align: center;
}

.home_screen_button {
    display: block;
    font-size: 20px;
    margin: 70px auto;
    padding: 10px;
    width: 200px;
}

.level_button {
    display: block;
    font-size: 20px;
    margin: 50px auto;
    padding: 10px;
    width: 200px;
}

.level_button:focus {
    background-color: #874c62;
}


.rules {
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
}

/* PENGUIN */

.penguin {
    font-size: 100px;
    animation: hop 0.5s ease-in-out infinite alternate;
    margin-top: 20px;
}

@keyframes hop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* GAME */

/* HEADER */

.header {
    margin-top: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 23px;
    height: 110px;
    text-align: center;

}

.instructions {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.4rem;
}


.countdown {
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 2.8rem;
    font-weight: bold;
    color: crimson;
}

.result {
    font-size: 4rem;
    margin: 0;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin-top: 0;
}


.grid_field {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    font-size: 52px;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 5px;
}

/* BUTTONS */

.button,
.reset {
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.btn {
    text-align: center;
    box-shadow: inset 0 39px 0 -24px #e67a73;
    background-color: #e4685d;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    padding: 6px 15px;
    margin-top: 10px;
    margin-right: 15%;
    margin-left: 15%;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35;
}

.btn:hover {
    background-color: #eb675e;
}

.btn:active {
    position: relative;
    top: 1px;
}

.result_btn {
    text-align: center;
    margin-top: 10px;
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #528ecc;
}

.result_btn:hover {
    background: #80b5ea linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
}

.result_btn:active {
    position: relative;
    top: 1px;
}

.reset_btn {
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    box-shadow: 0 1px 0 0 #1c1b18;
    background: #eae0c2 linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.reset_btn:hover {
    background: #ccc2a6 linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
}

.reset_btn:active {
    position: relative;
    top: 1px;
}



/* INPUTS */

.green {
    background-color: #D9F8C4;
}

.gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: transform 0.25s ease-in-out;
}

.gray:active {
    transform: rotateY(180deg);
}

.red {
    background-color: crimson;
    transition: transform 0.25s ease-in-out;
}

.red:active {
    transform: rotateY(180deg);
}


/* KEYBOARD */

.keyboard {
    text-align: center;
    padding: 10px 5% 0 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    gap: 2px;
}

.keyboard button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    cursor: pointer;
    color: #777777;
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    padding: 6px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    margin-bottom: 4px;
    flex-basis: calc(20% - 2px);
}

.keyboard button:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.keyboard button:active {
    position: relative;
    top: 1px;
}


/* RESULT */

.verdict {
    margin-top: 50px;
    font-weight: bold;
}

.correct {
    font-style: italic;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.loser {
    color: crimson;
}

.good_effort {
    color: #FF731D;
}

.well_done {
    color: #3D8361;
}

.nearly_perfect {
    color: #874C62;
}

.unbelievable {
    color: goldenrod;
}

/* GAME RESTART */




/* ************************************ */

/* MEDIA QUERIES */

/* iPhone 4*/
@media (max-width: 320px) {

    .grid {
        grid-template-columns: repeat(3, 65px);
        margin-bottom: 7px;
    }

    .grid_field {
        height: 65px;
        width: 65px;
        font-size: 42px;
    }

    .penguin {
        margin-bottom: 30px;
    }

    .btn {
        font-size: 20px;
        padding: 6px 15px;
        margin-top: 10px;
        margin-right: 15%;
        margin-left: 15%;
    }

    .instructions {
        font-size: 1.3rem;
    }

    .game_rules {
        height: 60px;
    }

    .countdown {
        font-size: 1.8rem;
        font-weight: bold;
        color: crimson;
    }

    .keyboard {
        margin: 0 10% auto 10%;
    }

    .keyboard button {
        font-size: 26px;
        padding: 1px 1px;
        margin-bottom: 2px;
    }


    .header {
        height: 68px;
        font-size: 20px;
    }

    .result {
        font-size: 3rem;
    }

    .verdict, .correct {
        font-size: 0.9rem;
    }

    .result_btn {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        padding: 4px 18px;
    }

    .reset_btn {
        font-size: 0.8rem;
        margin-top: 5px;
        padding: 8px 10px;
    }
}

@media (min-width: 700px) {

    .grid {
        grid-template-columns: repeat(3, 92px);
        margin-bottom: 30px;
    }

    .grid_field {
        height: 92px;
        width: 92px;
        font-size: 60px;
    }

    .instructions {
        font-size: 3rem;
    }

    .instructionAnimals {
        font-size: 3rem;
    }

    .countdown {
        margin-top: 10px;
        font-size: 3rem;
        font-weight: bold;
        color: crimson;
    }

    .keyboard {
        margin: 0 10% auto 10%;
    }


    .header {
        height: 120px;

        font-size: 28px;
    }

    .verdict, .correct {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {

    .keyboard {
        margin: 0 20% auto 20%;
    }
}