html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 3px 5px 3px 5px;
    background-color: #191919;
    color: white;
}

/* APP */

.app {
    text-align: center;
}

/* HOME SCREEN */

.home_screen {
    text-align: center;
}

.home_screen_button {
    margin: 60px auto;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 18px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.home_screen_button:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

.home_screen_button:active {
    position: relative;
    top: 1px;
}

.game_restart {
    margin-top: 150px;
    margin-bottom: 150px;
}


.level_button {
    margin: 50px auto;
    width: 240px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 50px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.level_button.green_level:focus {
    color: white;
    background-color: #3D8361;
}

.level_button.orange_level:focus {
    color: white;
    background-color: #e4685d;
}

.level_button.blue_level:focus {
    color: white;
    background-color: cornflowerblue;
}

.level_limits {
    font-size: 20px;
}


.rules {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
}

.rules_box {
    display: flex;
    justify-content: center;
}

.rules_instructions {
    font-size: 18px;
    height: 520px;

}

.instruction_box {
    padding: 8px;
    background-color: white;
    height: 430px;
    margin: 5px 20px;
    width: 300px;
}

.instructions_img {
    max-width: 240px;
}

.instructions {
    color: black;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.4rem;
}

.steps {
    display: flex;
    justify-content: space-around;
}

.step_button {
    font-size: 60px;
    background-color: #191919;
    color: white;
    border: none;
}

.ready_button {
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

.ready_button:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.ready_button:active {
    position: relative;
    top: 1px;
}

.start_button {
    text-align: center;
    background-color: firebrick;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: block;
    cursor: pointer;
    color: black;
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, serif;
    padding: 23px 70px;
    margin: 15px auto 55px auto;
    text-decoration: none;
}

.start_button:hover {
    background-color: #eb675e;
}

.start_button:active {
    position: relative;
    top: 1px;
}

/* PENGUIN */

.penguin {
    font-size: 100px;
    animation: hop 0.5s ease-in-out infinite alternate;
    margin-top: 70px;
}

@keyframes hop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* GAME */

/* HEADER */

.header {
    margin-top: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 23px;
    height: 110px;
    text-align: center;

}

.countdown {
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 2.8rem;
    font-weight: bold;
    color: crimson;
}

.result {
    font-size: 4rem;
    margin: 0;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 95px);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin-top: 0;
}


.grid_field {
    width: 95px;
    height: 95px;
    border: 1px solid black;
    font-size: 52px;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 5px;
    animation: grow 0.25s ease-in-out;
}

@keyframes grow {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

/* BUTTONS */

.button,
.reset {
    text-align: center;
    padding: 0;
    margin-top: 10px;
}


.result_btn {
    text-align: center;
    margin-top: 10px;
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #528ecc;
}

.result_btn:hover {
    background: #80b5ea linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
}

.result_btn:active {
    position: relative;
    top: 1px;
}

.reset_btn {
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    box-shadow: 0 1px 0 0 #1c1b18;
    background: #eae0c2 linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial, serif;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.reset_btn:hover {
    background: #ccc2a6 linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
}

.reset_btn:active {
    position: relative;
    top: 1px;
}


/* INPUTS */

.green {
    background-color: #D9F8C4;
}

.gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: transform 0.25s ease-in-out;
}

.gray:active {
    transform: rotateY(180deg);
}

.red {
    background-color: crimson;
    transition: transform 0.25s ease-in-out;
}

.red:active {
    transform: rotateY(180deg);
}


/* KEYBOARD */

.keyboard {
    text-align: center;
    padding: 10px 5% 0 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    gap: 2px;
}

.keyboard button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: block;
    cursor: pointer;
    color: #777777;
    font-size: 33px;
    font-family: 'Dosis', sans-serif;
    padding: 1px 1px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    margin-bottom: 4px;
    flex-basis: calc(20% - 2px);
}

.selected {
    transform: scale(120%);
    background-color: lightgrey;
}


/* RESULT */

.verdict {
    margin-top: 50px;
    font-weight: bold;
}

.correct {
    font-style: italic;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.loser {
    color: crimson;
}

.good_effort {
    color: #FF731D;
}

.well_done {
    color: #3D8361;
}

.nearly_perfect {
    color: #874C62;
}

.unbelievable {
    color: goldenrod;
}

/* GAME RESTART */


/* ************************************ */

/* MEDIA QUERIES */

/* iPhone 5*/
@media (max-width: 320px) and (max-height: 568px) {

    .title {
        font-size: 28px;
    }

    .rules_instructions {
        height: 420px;
    }

    .rules_instructions h3 {
        font-size: 17px;
    }

    .instruction_box {
        height: 360px;
        width: 250px;
    }

    .instructions_img {
        max-width: 200px;
    }


    .ready_button {
        font-size: 15px;
        margin-top: 25px;
        padding: 10px 30px;
    }

    .level_button {
        text-align: center;
        font-size: 18px;
        width: 170px;
        padding: 12px 20px;
        margin: 42px auto;
    }

    .level_limits {
        font-size: 18px;
    }

    .start_button {
        text-align: center;
        font-size: 21px;
        padding: 15px 50px;
    }

    .start_button:hover {
        background-color: #eb675e;
    }

    .start_button:active {
        position: relative;
        top: 1px;
    }

    .grid {
        grid-template-columns: repeat(3, 78px);
        margin-bottom: 7px;
    }

    .grid_field {
        height: 78px;
        width: 78px;
        font-size: 45px;
    }

    .penguin {
        margin-top: 40px;
    }


    .instructions {
        font-size: 1.3rem;
    }

    .game_rules {
        height: 60px;
    }

    .countdown {
        font-size: 2rem;
    }

    .keyboard {
        margin: 0 5% 15px 5%;
    }

    .keyboard button {
        font-size: 28px;
        margin-bottom: 2px;
    }


    .header {
        padding-top: 5px;
        height: 78px;
        font-size: 20px;
    }

    .result {
        font-size: 3rem;
    }

    .verdict, .correct {
        font-size: 1rem;
    }

    .reset_btn {
        font-size: 0.8rem;
        margin-top: 20px;
        padding: 8px 10px;
    }
}

@media (min-width: 700px) {

    .grid {
        grid-template-columns: repeat(3, 92px);
        margin-bottom: 30px;
    }

    .grid_field {
        height: 92px;
        width: 92px;
        font-size: 60px;
    }

    .instructions {
        font-size: 3rem;
    }

    .instructionAnimals {
        font-size: 3rem;
    }

    .countdown {
        margin-top: 10px;
        font-size: 3rem;
        font-weight: bold;
        color: crimson;
    }

    .keyboard {
        margin: 0 10% auto 10%;
    }


    .header {
        height: 120px;

        font-size: 28px;
    }

    .verdict, .correct {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {

    .keyboard {
        margin: 0 20% auto 20%;
    }
}